{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Create student
{% endblock %}

<!--{% block pages %}-->
<!--    <td><a href="{% url 'students:list' %}">List students</a></td>-->
<!--    <td><a href="{% url 'students:create' %}">Create student</a></td>-->
<!--{% endblock %}-->

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-outline-success" type="submit" value="Create">
        <a class="btn btn-outline-primary" href="{% url 'students:list' %}">Cancel</a>
    </form>
{% endblock %}
