{% extends 'base.html' %}

{% block title %}
  Delete student
{% endblock %}

<!--{% block pages %}-->
<!--    <td><a href="{% url 'students:list' %}">List students</a></td>-->
<!--    <td><a href="{% url 'students:create' %}">Create student</a></td>-->
<!--{% endblock %}-->

{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>Do you really remove {{ student.last_name }} {{ student.first_name }}</p>
    <input class="btn btn-outline-danger" type="submit" value="Agree">
    <a class="btn btn-outline-primary" href="{% url 'students:list' %}">Cancel</a>
  </form>
{% endblock %}