{% extends 'base.html' %}

{% block title %}
    Students list
{% endblock %}

{% block custom_css %}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
{% endblock %}

{% block pages %}
    <td><a href="{% url 'students:list' %}">List students</a></td>
    <td><a href="{% url 'students:create' %}">Create student</a></td>
{% endblock %}

{% block content %}
    <form method="get">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="first_name"><br><br>

        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="last_name"><br><br>

        <label for="age">Age:</label>
        <input type="number" name="age"><br><br>

        <input type="submit" value="Search">
    </form>
    <p><strong>Count of students: {{ students.count }}</strong></p>
    <table>
        <tr>
            <th></th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>✐</th>
            <th>🗑</th>
        </tr>

    {% for student in students %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.phone_number }}</td>
            <td><a href="{% url 'students:update' student.id %}">Edit</a></td>
            <td><a href="{% url 'students:delete' student.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
