{% extends 'students/base.html' %}

{% block title %}
    Students list
{% endblock %}

{% block content %}
    <form method="get">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="first_name"><br><br>

        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="last_name"><br><br>

        <label for="age">Age:</label>
        <input type="number" name="age"><br><br>

        <input type="submit" value="Search">
    </form>

    {% for student in students %}
        <a href="update/{{student.id}}/">Edit</a>&nbsp;&nbsp;{{ student }}<br>
    {% endfor %}
{% endblock %}
