{% extends 'base.html' %}

{% block title %}
    Groups list
{% endblock %}

{% block custom_css %}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
{% endblock %}

{% block pages %}
    <td><a href="{% url 'groups:list' %}">List groups</a></td>
    <td><a href="{% url 'groups:create' %}">Create group</a></td>
{% endblock %}

{% block content %}
    <form method="get">
        <label for="fname">Group name:</label>
            <input type="text" id="fname" name="group_name"><br><br>

            <label for="lname">Course:</label>
            <input type="text" id="lname" name="course"><br><br>

            <label for="group_size">Group size:</label>
            <input type="number" name="group_size"><br><br>

            <input type="submit" value="Submit">
    </form>
    <p><strong>Count of groups: {{ groups.count }}</strong></p>
    <table>
        <tr>
            <th></th>
            <th>Group name</th>
            <th>Course</th>
            <th>Group size</th>
            <th>Start date</th>
            <th>✐</th>
            <th>🗑</th>
        </tr>

    {% for group in groups %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ group.group_name }}</td>
            <td>{{ group.course }}</td>
            <td>{{ group.group_size }}</td>
            <td>{{ group.start_date }}</td>
            <td><a href="{% url 'groups:update' group.id %}">Edit</a></td>
            <td><a href="{% url 'groups:delete' group.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}