{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Update group
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-outline-warning" type="submit" value="Update">
        <a class="btn btn-outline-primary" href="{% url 'groups:list' %}">Cancel</a>
    </form>
<!--    <table class="table table-striped table-hover">-->
<!--        <tr>-->
<!--            <th></th>-->
<!--            <th>First name</th>-->
<!--            <th>Last name</th>-->
<!--            <th>Age</th>-->
<!--            <th><i class="bi bi-telephone"></i></th>-->
<!--            <th>Enroll date</th>-->
<!--            <th>Graduate date</th>-->
<!--            <th><i class="bi bi-pencil"></i></th>-->
<!--            <th><i class="bi bi-trash"></i></th>-->
<!--        </tr>-->
<!--        {% for student in group.students.all %}-->
<!--            <tr>-->
<!--                <td>{{ forloop.counter }}</td>-->
<!--                <td>{{ student.first_name }}</td>-->
<!--                <td>{{ student.last_name }}</td>-->
<!--                <td>{{ student.age }}</td>-->
<!--                <td>{{ student.phone_number }}</td>-->
<!--                <td>{{ student.enroll_date }}</td>-->
<!--                <td>{{ student.graduate_date }}</td>-->
<!--                <td><a href="{% url 'students:update' student.id %}">Edit</a></td>-->
<!--                <td><a href="{% url 'students:delete' student.id %}">Delete</a></td>-->
<!--            </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
    <br>
    <h3>Teachers:</h3>
    {% with list_object=teachers %}
        {% include 'includes/teachers_list_table.html' %}
    {% endwith %}
    <br>
    <h3>Students:</h3>
    {% with list_object=students %}
        {% include 'includes/students_list_table.html' %}
    {% endwith %}
{% endblock %}