{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Teachers list
{% endblock %}

{% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
            Search
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse"
                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form method="get">
                        {{ filter_teachers.form | crispy }}
                        <input class="btn btn-outline-success" type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="mt-2"><strong>Count of teachers: {{ filter_teachers.qs.count }}</strong></p>
    {% with list_object=filter_teachers.qs %}
        {% include 'includes/teachers_list_table.html' %}
    {% endwith %}
{% endblock %}