{% extends 'base.html' %}

{% block title %}
    Teachers list
{% endblock %}

{% block custom_css %}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
{% endblock %}

{% block pages %}
    <td><a href="{% url 'teachers:list' %}">List teachers</a></td>
    <td><a href="{% url 'teachers:create' %}">Create teachers</a></td>
{% endblock %}

{% block content %}
    <form method="get">
        <label for="fname">First name:</label>
            <input type="text" id="fname" name="first_name"><br><br>

            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="last_name"><br><br>

            <label for="num_of_courses">Number of courses:</label>
            <input type="number" name="num_of_courses"><br><br>

            <input type="submit" value="Submit">
    </form>
    <p><strong>Count of teachers: {{ teachers.count }}</strong></p>
    <table>
        <tr>
            <th></th>
            <th>First name</th>
            <th>Last name</th>
            <th>Number of courses</th>
            <th>Phone</th>
            <th>✐</th>
            <th>🗑</th>
        </tr>

    {% for teacher in teachers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.num_of_courses }}</td>
            <td>{{ teacher.phone_number }}</td>
            <td><a href="{% url 'teachers:update' teacher.id %}">Edit</a></td>
            <td><a href="{% url 'teachers:delete' teacher.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}