{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <a class="btn btn-outline-primary" href="{% url 'password_reset' %}">Reset password</a>
        <div>
            <br>
            <input class="btn btn-success" type="submit" value="Login">
            <a class="btn btn-success" href="{% url 'accounts:registration' %}">Registration</a>
        </div>
    </form>
{% endblock %}