<table class="table table-striped table-hover">
    <tr>
        <th></th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th><i class="bi bi-telephone"></i></th>
        <th>Enroll date</th>
        <th>Graduate date</th>
        <th>Group</th>
        <th>Head man</th>
        {% if user.is_authenticated %}
            <th><i class="bi bi-pencil"></i></th>
            <th><i class="bi bi-trash"></i></th>
        {% endif %}
    </tr>

    {% for student in list_object %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.phone_number }}</td>
            <td>{{ student.enroll_date }}</td>
            <td>{{ student.graduate_date }}</td>
            <td>{% if student.group is not None %}
                {{ student.group }}
            {% endif %}</td>
            <td>{% if student.headman_group %}<i class="bi bi-check-lg"></i>{% endif %}</td>
            {% if user.is_authenticated %}
                <td><a href="{% url 'students:update' student.id %}">Edit</a></td>
                <td><a href="{% url 'students:delete' student.id %}">Delete</a></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>